<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210467431845-8dejbqk149hn58gbfmrdghaln9d3f1mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210467431845-8dejbqk149hn58gbfmrdghaln9d3f1mo</string>
	<key>API_KEY</key>
	<string>AIzaSyBfX7hj8pRjcDWWnWsBFeAiTIiA0Ks2nXg</string>
	<key>GCM_SENDER_ID</key>
	<string>210467431845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>roitech.SwiftBuddy</string>
	<key>PROJECT_ID</key>
	<string>swift-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210467431845:ios:18c5e58f625e779793f44c</string>
</dict>
</plist>